4-projections-2019-2020.aux
4-projections-2019-2020.log
4-projection-may-2020_files
4-projection-may-2020.log
4-projection-may-2020.md
4-projection-may-2020.tex
4-projection-may-2020-presentation.log
